OPEN_FOOD_FACTS_API_BASE_URL=https://world.openfoodfacts.net/api/v2
RZO_API_BASE_URL=http://localhost:6000
GOOGLE_MAPS_API_KEY=google-maps-api-key-placeholder

## TODO: add the variable to your CI and remove it from here, not recommended setting sensitive values on your git repo
SECRET_KEY=my-secret-key
VAR_NUMBER=10 # this is a number variable
VAR_BOOL=true # this is a boolean variable
